.anime{
    font-family: 'MS Gothic UI', sans-serif;
    background: url("../images/anime.png") no-repeat center;
    background-position-x: 25%;
    background-position-y: 5%;
    height: 650px;
}
.login {
    margin: 200px auto auto auto;
    width: 400px;
}

.login-screen {
    padding: 20px;
    border-radius: 15px;
}

.login-title {
    text-align: center;
    color: #a986b5;
}

.login-form {
    text-align: center;
}
.control-group {
    margin-bottom: 10px;
}


@media screen and (max-width: 1540px) {
    .anime {
        background-position-x: 20%;
    }
}

@media screen and (max-width: 1250px) {
    .anime {
        background-position-x: 10%;
    }
}

@media screen and (max-width: 1250px){
    .anime{
        background-position-x: 5%;
    }
}

@media screen and (max-width: 975px) {
    .anime {
        height: 600px;
        background-position-x: 0;
        background-position: bottom;
    }

    .login-screen {
        background-color: #a986b580;
        color: #fff;
    }

    .login-title {
        color: #fff;
    }
}